{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Are you ready to Duel?
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">

            <div id="game" class=' col-xs-10 col-xs-offset-1'>

                {% include( "forms/rock-paper-choices.html.twig" ) %}

                {% if winner is defined %}
                    <p class='lead well well-sm text-center'>
                        You Threw: &ldquo;{{ userAction |capitalize }}&rdquo; &amp;
                        Your Opponent Threw: &ldquo;{{ randomAction |capitalize }}&rdquo;
                        <br />Result: {{ winner }}
                    </p>
                {% endif %}

                {% if rounds is defined %}
                    {% include( "round/list.html.twig" ) %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

