{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="summary">
                <h1>Welcome to RPSSL: The Rock/Paper/Scissor/Spock/Lizard Center</h1>
            </div>
            
            {% include( "forms/rock-paper-choices.html.twig" ) %}

            <div id="results">

                {% if rounds is defined %}
                    {% include 'round/list.html.twig' %}

                {% else %}

                    <h2>There is no RPSSL History To Show Yet</h2>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

    /* no styles yet */

</style>
{% endblock %}
