{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="summary">
                <h1>Welcome to RPSSL: The Rock/Paper/Scissor/Spock/Lizard Center</h1>
            </div>

            <div id="results">

                <p>Insert history here...</p>

                {% include( "forms/rock-paper-choices.html.twig" ) %}

                {% for round in resultArray %}
                    <p>{{round.id}}</p>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

    /* no styles yet */

</style>
{% endblock %}
