<form action="{{ path('duel') }}" method="post">
    <fieldset>
        <legend>Choose your next action:</legend>

        <label for="radio">
            <input type="radio" name="action" value="Rock"> Rock
        </label>
        <label for="radio">
            <input type="radio" name="action" value="Paper"> Paper
        </label>
        <label for="radio">
            <input type="radio" name="action" value="Scissors"> Scissors
        </label>
        <label for="radio">
            <input type="radio" name="action" value="Spock"> Spock
        </label>
        <label for="radio">
            <input type="radio" name="action" value="Lizard"> Lizard
        </label>
        <button type="submit">Go!</button>
    </fieldset>
</form>