<form action="{{ path('duel') }}" method="post">
    <fieldset>
        <legend>Choose your next action:</legend>

            <input type="submit" name="action" value="Rock"> |
            <input type="submit" name="action" value="Paper"> |
            <input type="submit" name="action" value="Scissors"> |
            <input type="submit" name="action" value="Spock"> |
            <input type="submit" name="action" value="Lizard">
    </fieldset>
</form>