<div class="navbar navbar-default navbar-static-top">
    <div class='container'>
        <div>
            <div class="navbar-header">
                <a href="{{ path('homepage') }}" class="navbar-brand">
                    Welcome to RPSSL:
                    <br />The Rock/Paper/Scissor/Spock/Lizard Center
                </a>
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                <li><a href='{{ path('homepage') }}'>Home</a></li>
                <li><a href='{{ path('history') }}'>History</a></li>
            </ul>
        </div>
    </div>
</div>